<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.persistence.CustomerRepository">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO customers(name, phone_number) VALUES (#{name},#{phoneNumber})
    </insert>

    <update id="update">
        UPDATE customers SET name = #{name}, phone_number = #{phoneNumber} WHERE id = #{id}
    </update>

    <sql id="FindAllSelect">
        SELECT c.id AS customer_id, c.name AS customer_name, c.phone_number AS customer_phone_number,
        t.id AS transaction_id, t.amount AS transaction_amount, t.type AS transaction_type, t.date AS transaction_date,
        l.id AS loan_id, l.amount AS loan_amount, l.type AS loan_type, l.interest_rate AS loan_interest_rate, l.start_date AS loan_start_date, l.end_date AS loan_end_date,
        a.id AS account_id, a.type AS account_type, a.opening_date AS account_opening_date, a.balance AS account_balance,
        s.id AS statement_id, s.start_date AS statement_start_date, s.end_date AS statement_end_date, s.starting_balance AS statement_starting_balance, s.ending_balance AS statement_ending_balance
        FROM customers c
        LEFT JOIN transactions t ON c.id = t.customer_id
        LEFT JOIN loans l ON c.id = l.customer_id
        LEFT JOIN accounts a ON c.id = a.customer_id
        LEFT JOIN statements s ON a.id = s.account_id
    </sql>

    <select id="findById" resultMap="CustomerResultMap">
        <include refid="FindAllSelect"/>
        WHERE c.id = #{id}
    </select>

    <resultMap id="CustomerResultMap" type="com.solvd.laba.domain.Customer" autoMapping="false">
        <id column="customer_id" property="id"/>
        <result column="customer_name" property="name"/>
        <result column="customer_phone_number" property="phoneNumber"/>
        <collection property="transactions"
                    resultMap="com.solvd.laba.persistence.TransactionRepository.TransactionResultMap"/>
        <collection property="accounts"
                    resultMap="com.solvd.laba.persistence.AccountRepository.AccountResultMap"/>
        <collection property="loans"
                    resultMap="com.solvd.laba.persistence.LoanRepository.LoanResultMap"/>
    </resultMap>


</mapper>