<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/> <!-- using JDBC transaction -->
            <dataSource type="POOLED"> <!-- how mybatis works with connections mybatis doesnt need to close connection after we use connection -->
                
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>


            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/CustomerMapper.xml"/> <!--  -->
        <mapper resource="mappers/AccountMapper.xml"/>
        <mapper resource="mappers/StatementMapper.xml"/>
        <mapper resource="mappers/LoanMapper.xml"/>
        <mapper resource="mappers/TransactionMapper.xml"/>

    </mappers>

</configuration>